/* CSS SON TODO REGLAS DE ESTILOS
    /*1º) Nombre del elemento
    /*2º) Apertura/Cierre de llaves
    /*3º) Propiedades a tutiplen!!!!*/

/* con el comando inline block saldran las cosas em serie en la misma fila */
#title1{
    background-color: red; /*propiedad para poner color*/
    display: inline-block;   /*elemento no ocupe toda la linea*/
}
#title2{
    background-color: yellow; /*propiedad para poner color*/
    display: inline-block;   /*elemento no ocupe toda la linea*/
}
#title3{
    background-color: red; /*propiedad para poner color*/
    display: inline-block;   /*elemento no ocupe toda la linea*/
}